<br>
<div class="card border-0 text-black ">
    <img src="assets/grocery_background.jpg" alt="" class="card-img w-100 h-15 opacity-25" height="100" >
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
      <div>
        <p id="product_list_text"class="card-title fs-1 fw-bolder" >Profile</p>
      </div>
    </div>
</div>


<div class="d-flex justify-content-start">
   
  <app-profilenav></app-profilenav>
   
    <div class="mx-5 d-flex justify-content-center">

      <form class="row g-5 m-lg-5 d-flex justify-content-center" [formGroup]="Profile" (ngSubmit)="Save_Profile()">
       
        <div class="row g-2">

          <div class="col-md-5">
            <label for="inputfirstname" class="form-label">First Name</label>
            <input type="text" formControlName="firstname" class="form-control" id="inputfirstname" placeholder="Enter First Name">
          </div>

          <div class="col-md-5">
            <label for="inputlastname" class="form-label">Last Name</label>
            <input type="text" formControlName="lastname" class="form-control" id="inputlastname" placeholder="Enter Last Name">
          </div>

        </div>

        <div class="row g-2">

          <div *ngIf="get_Profile.firstname.touched && get_Profile.firstname.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.firstname.errors?.['required']" class="text-danger">Please Enter First Name</div>
          </div>

          <div *ngIf="get_Profile.lastname.touched && get_Profile.lastname.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.lastname.errors?.['required']" class="text-danger">Please Enter Last Name</div>            
          </div>

        </div>

        <div class="row g-2">

          <div class="col-md-5">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Enter Email">
          </div>

          <div class="col-md-5">
            <label for="contact" class="form-label">Contact Number</label>
            <input type="text" formControlName="contact" class="form-control" id="contact" placeholder="Please Enter Contact">
          </div>

        </div>

        <div class="row g-2">

          <div *ngIf="get_Profile.email.touched && get_Profile.email.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.email.errors?.['required']" class="text-danger">Please Enter Email</div>
            <div *ngIf="get_Profile.email.errors?.['email']" class="text-danger">Please Enter Valid Email</div>
          </div>

          <div *ngIf="get_Profile.contact.touched && get_Profile.contact.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.contact.errors?.['required']" class="text-danger">Contact number is Required</div>
            <div *ngIf="get_Profile.contact.errors?.['pattern']" class="text-danger">Please Enter Valid Contact Number</div>
          </div>

        </div>

        <div class="row g-2">

          <div class="col-md-5">
            <label for="inputEmail" class="form-label">Alternate Contact Email</label>
            <input type="email" formControlName="alternateemail" class="form-control" id="inputEmail" placeholder="Enter Alternate Contact Email">
          </div>

          <div class="col-md-5">
            <label for="alternatecontact" class="form-label">Alternate Contact Number</label>
            <input type="text" formControlName="alternatecontact" class="form-control" id="alternatecontact" placeholder="Please Enter Alternate Contact">
          </div>

        </div>

        <div class="row g-2">

          <div *ngIf="get_Profile.alternateemail.touched && get_Profile.alternateemail.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.alternateemail.errors?.['required']" class="text-danger">Alternate Email Is Required</div>
            <div *ngIf="get_Profile.alternateemail.errors?.['email']" class="text-danger">Please Enter Valid Alternate Email</div>
          </div>

          <div *ngIf="get_Profile.alternatecontact.touched && get_Profile.alternatecontact.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.alternatecontact.errors?.['required']" class="text-danger">Alternate Contact Is Required</div>
            <div *ngIf="get_Profile.alternatecontact.errors?.['pattern']" class="text-danger">Please Enter Valid Alternate Contact Number</div>
          </div>

        </div>

        <div class="row g-2">

          <div class="col-md-5">
            <label for="dob" class="form-label">Date Of Birth</label>
            <input type="date" formControlName="dob" class="form-control" id="dob" placeholder="Enter Date Of Birth">
          </div>

        </div>

        <div class="row g-2">

          <div *ngIf="get_Profile.dob.touched && get_Profile.dob.invalid" class="text-danger col-md-5">
            <div *ngIf="get_Profile.dob.errors?.['required']" class="text-danger">Please Select Date of Birth</div>
          </div>

        </div>

        <div class="row g-2 d-flex justify-content-center ">
          <div class="col-md-5">
            <button type="submit" [disabled]="!Profile.valid" class="btn btn-success">Save</button>
          </div>
        </div>

        <div class="row g-2 d-flex justify-content-center" *ngIf="!Profile.valid">
          <div class="col-md-5">
            <span class="text-danger">Please Enter all Details</span>
          </div>
        </div>

      </form>

    </div>

</div>
