<div class="card bg-body-transparent text-black">
    <img src="/assets/grocery_background.jpg" alt="" class="card-img w-100 h-15 my-5 opacity-25" height="100" >
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
<div>
  <p id="product_list_text"class="card-title fs-1 fw-bolder">Success</p>
      </div>
    </div>
  </div>

<img class="rounded mx-auto d-block img-fluid" src="assets/Success.PNG" height="450" width="450">
<h2 class="text-center text-success fw-bolder">Your Order Has been Placed Successfully</h2>