<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <img  class="img-fluid"src="assets/Grocery logo 2.jpg" alt="" width="35" height="35">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
     <img  class="navbar-toggler-icon light" src="https://img.icons8.com/ios-glyphs/60/000000/menu-rounded.png"/>
    </button>
    <div class="collapse navbar-collapse px-1 py-1" id="navbarTogglerDemo01">
      <a class="navbar-brand text-white fw-bolder" href="#">Grocery App</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="'active' ">
          <a class="nav-link text-white " routerLink="front/user/login" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link text-white" routerLink="front/user/register" href="#">Register</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link text-white " routerLink="front/user/user-profile" >User-Profile</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link text-white " routerLink="home" >Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'" >
          <a class="nav-link text-white " routerLink="front/catalogue/product-list" aria-current="page" href="#">Product</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link text-white " routerLink="front/catalogue/category">Category</a>
        </li>
      </ul>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link text-white " routerLink="front/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <div class="text-white ">{{cartItem}}</div>
          </ul>
        </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-center p-4 border-bottom">
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto ">
      <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
      <div>
        <h4>Cybercom Creation</h4>
        <h5>Grocery Shopping App </h5>
      </div>
      <div>
        <p>1762 School House Road</p>
      </div>
      <div>
        <p><i class="fas fa-envelope me-3 text-secondary"></i>groceyish@contact.com</p>
        <p><i class="fas fa-phone me-3 text-secondary"></i>Call Us:1233-777</p>
        <p><i class="fas fa-print me-3 text-secondary"></i>Work hours:8:00 - 20:00, Sunday-Thursday</p>
      </div>
    </div>
    <br>
  </section>


  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 All rights reserved:
    <a class="text-reset fw-bold" href="http://www.cybercom.co.in/">cybercom.co.in</a>
  </div>

  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class=" text-center" >
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="text-white"
        ><i class="fab fa-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-twitter"></i
      ></a>


      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="white"
        ><i class="fab fa-linkedin"></i
      ></a>
    
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

