<br><br>
<div>
    <img src="assets/fruits & vegetables.PNG"   alt="">
</div>
<br>


<div class="container text-center" >
  <div class="row row-cols-4">
    <div class="col" *ngFor="let item of featuredProducts">
      <div class="card bg-white p-2 m-2" >
        <img class="rounded mx-auto d-block" [src]="item.source" alt="" width="120" height="120"/>
          <div class="card-body" >
            <small>{{item.name}}</small>
            <h4>{{item.category}}</h4>
            <ul class="card-body rating" data-mdb-toggle="rating">
              <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
              <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
              <i class="fas fa-star fa-sm text-primary" title="OK" ></i>
              <i class="fas fa-star fa-sm text-primary" title="Good"></i>
              <i class="far fa-star fa-sm text-primary" title="Excellent"></i><br>
            </ul>
            <small>{{item.rater}}</small>
            <div>        
              <i class="fas fa-dollar-sign m-2">{{item.moneyOfferPrice}}</i>
              <i class="fas fa-dollar-sign text-decoration-line-through m-4">{{item.price}}</i>
              <button class="btn btn-outline-light"><i class="fas fa-shopping-cart">Add</i></button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div> 

