<section class="cart-section">
    <h2>Cart</h2>
    <div class="container">
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub-total</th>
            </tr>
            <tr>
                <td><img src="assets/topsells1.PNG" alt=""></td>
                <td>Orange</td>
                <td>
                    <div class="button my-5 p-2">
                        <button class="btn btn-light" >-</button>
                        <span>1</span>
                        <button class="btn btn-light" >+</button>
                      </div>
                </td>
                <td>12$</td>
                <td>12$</td>
            </tr>
        </table>
    </div>

</section>